@import "tailwindcss";

@theme {
  --color-light-gray: #e0e0e0;
  --color-gray: #b0b0b0;
  --color-dark-gray: #5a5a5a;
  --color-superdark-gray: #2e2e2e;
  --color-mango-orange: #ff9800;
  --color-strawberry-red: #e91e63;
  --color-white: #ffffff;
}